.app-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.myjourney-heading {
  color: #1e293b;
  font-family: roboto;
  font-size: 22px;
  text-align: center;
}
.ccbp-heading {
  color: #2b237c;
  font-family: roboto;
  font-size: 22px;
  text-align: center;
}
